---
layout: default
---

<div class="teaserimage hero">
    <div class="teaserimage-image home-hero-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Hero Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-subtitle">at Beauty at the Bay</h2>
</header>

<main class="content" role="main">
  <h2 class="treatments-heading">Facial Treatments</h2>
  <section class="treatments-menu">
    {% for item in site.data.treatments %}
      <article class="treatment-item">
        <h2 class="treatment-title">{{ item.title }}</h2>
        <h3 class="treatment-subtitle">{{ item.subtitle }}</h3>
        <p class="treatment-description">{{ item.description }}</p>
        <div class="treatment-cost">{{ item.cost }}</div>
      </article>
    {% endfor %}
  </section>

  <h2 class="treatments-heading">Special Offers</h2>
  <section class="treatments-menu">
    {% for item in site.data.offers %}
      <article class="treatment-item">
        <h2 class="treatment-title">{{ item.title }}</h2>
        <h3 class="treatment-subtitle">{{ item.subtitle }}</h3>
        <p class="treatment-description">{{ item.description }}</p>
        <div class="treatment-cost">{{ item.cost }}</div>
      </article>
    {% endfor %}
  </section>
</main>
