<!-- footer start -->

<footer class="site-footer">
    <div class="inner">
         <div class="footer-social">
             {% for social in site.social %}
               {% if social.url %}
                   <a class="icon-{{ social.icon }}" href="{{ social.url }}"{% if social.desc %} title="{{ social.desc }}"{% endif %}>
                     <i class="fa fa-{{ social.icon }}"></i>
                   </a>
               {% endif %}
             {% endfor %}
         </div>
         <section class="business-info">
             <p class="business-name">Beauty at the Bay Medical Spa</p>
             <p class="business-address">831 N Harbor Dr, Redondo Beach, California 90277</p>
             <p class="business-phone"><a href="tel:+14243831898">(424) 383-1898</a></p>
         </section>
         <section class="copyright">{{ site.title }} {{ site.time | date: '%Y' }} &bull; All rights reserved.</section>
    </div>
</footer>

<!-- footer end -->
