<!-- footer start -->

<footer class="site-footer">
    <div class="inner">
         <section class="business-info">
             <p class="business-name">Beauty at the Bay Medical Spa</p>
             <p class="business-address">831 N Harbor Dr, Redondo Beach, California 90277</p>
             <p class="business-phone"><a href="tel:+14243831898">(424) 383-1898</a></p>
             <p class="business-hours">
                 Monday&nbsp;&ndash;&nbsp;Friday: 7:30AM&nbsp;&ndash;&nbsp;6:00PM<br>
                 Saturday: 7:30AM&nbsp;&ndash;&nbsp;6:00PM<br>
                 Sunday: Closed
             </p>
         </section>
         <section class="copyright">{{ site.title }} {{ site.time | date: '%Y' }} &bull; All rights reserved.</section>
    </div>
</footer>

<!-- footer end -->
